body {
     font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
     background-color: coral;
     color: white;
}
#time-left {
     text-align: center;
     margin: 100px auto;
     border: 5px solid #ec13b2;
     width: 600px;
}